h1 {
  color: CornflowerBlue;
  text-align: center;
}

form {
  text-align: center;
}

input {
  border-radius: 1000px;
}

body {
  background-color: yellow;
  text-align: center;
}

#delete-all {
  text-align: center;
}
